.header-search-box {
  position: absolute;
  top: 4px;
  right: 30px;
  width: 300px;


}

.header-navigator {
  position: absolute;
  left: 0;
}

.header-user-profile {
  position: absolute;
  right: 10px;
  top: 6px;
}