.tree-navigator {
  padding: .5ex;
  font-size: 103%; }
  .tree-navigator ul.node-list {
    list-style-type: none;
    padding: 0; }
  .tree-navigator ul.node-list ul.node-list {
    padding: 0 0 0 2ex; }
  .tree-navigator ul.node-list > li {
    padding: .2ex 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default; }
  .tree-navigator ul.node-list > li > ul {
    overflow: hidden;
    transition: opacity .2s;
    opacity: 1; }
  .tree-navigator .node-list > li:not(.expanded) > ul {
    opacity: 0;
    height: 0; }
  .tree-navigator .node-label.loading:after {
    display: block;
    content: 'Loading...';
    padding-left: 2ex; }
