.tree-navigator {

  padding: .5ex;

  .node-list {
    padding: 0 0 0 2ex;
    list-style-type: none;
  }

  .node-list > li {
  }

  .node-list > li > ul {
    overflow: hidden;
    transition: opacity .2s;
    opacity: 1;
  }

  .node-list > li:not(.expanded) > ul {
    opacity: 0;
    height: 0;
  }


  .node-label.loading:after {
    display: block;
    content: 'Loading...';
    padding-left: 2ex;
  }
}