.tree-navigator {
  padding: .75ex;
  font-size: 110%; }
  .tree-navigator ul.node-list {
    list-style-type: none;
    padding: 0; }
  .tree-navigator ul.node-list > li {
    padding: .4ex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer; }
  .tree-navigator ul.node-list ul.node-list {
    padding: 0 0 0 2ex; }
  .tree-navigator ul.node-list > li > ul {
    overflow: hidden;
    transition: opacity .2s;
    opacity: 1; }
  .tree-navigator .node-list > li:not(.expanded) > ul {
    opacity: 0;
    height: 0; }
  .tree-navigator .node-label:hover,
  .tree-navigator .node-label:active {
    text-decoration: none;
    background-color: #eee; }
  .tree-navigator .node-label.loading:after {
    display: block;
    content: 'Loading...';
    padding-left: 2ex; }
  .tree-navigator span.node-extra-info {
    color: #aaa;
    font-size: 80%; }
  .tree-navigator .node-expander {
    text-decoration: none; }
  .tree-navigator .context-menu {
    position: fixed;
    z-index: 1000; }
  .tree-navigator .icon-arrow-right {
    display: inline-block;
    content: " ";
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: .75ex 0 .75ex .75ex;
    border-left-color: #ccc;
    margin-left: .2ex; }
    .tree-navigator .icon-arrow-right:hover {
      border-left-color: #999; }
  .tree-navigator .icon-arrow-left {
    display: inline-block;
    content: " ";
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: .75ex .75ex .75ex 0;
    border-right-color: #ccc;
    margin-right: .2ex; }
    .tree-navigator .icon-arrow-left:hover {
      border-right-color: #999; }
  .tree-navigator .icon-arrow-down {
    display: inline-block;
    content: " ";
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: .75ex .75ex 0 .75ex;
    border-top-color: #ccc;
    margin-left: .2ex; }
    .tree-navigator .icon-arrow-down:hover {
      border-top-color: #999; }
  .tree-navigator .active-node > .node-label {
    color: #00235b; }
    .tree-navigator .active-node > .node-label > .label-text {
      font-weight: bold; }
  .tree-navigator .selected-node > div {
    background-color: #c2daf6; }
    .tree-navigator .selected-node > div .node-expander {
      color: #fff; }
