.tree-navigator {

  padding: .75ex;

  font-size: 110%;

  ul.node-list {
    list-style-type: none;
    padding: 0;
  }

  ul.node-list > li {
    padding: .2ex 0 .2ex .2ex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    cursor: default;

  }

  ul.node-list ul.node-list {
    padding: 0 0 0 2ex;
  }

  ul.node-list > li > ul {
    overflow: hidden;
    transition: opacity .2s;
    opacity: 1;
  }

  .node-list > li:not(.expanded) > ul {
    opacity: 0;
    height: 0;
  }


  .node-label:hover,
  .node-label:active
  {
     text-decoration: none;
     background-color: #eee;
  }

  .node-label.loading:after {
    display: block;
    content: 'Loading...';
    padding-left: 2ex;
  }

  span.node-extra-info {
    color: #aaa;
    font-size: 80%;
  }

  .node-expander {
    text-decoration: none;
  }

  .context-menu {
    position: fixed;
    z-index: 1000;
  }


  .icon-arrow-right {
      display: inline-block;
      content: " ";
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: .75ex 0 .75ex .75ex;
      border-left-color: #ccc;

      margin-left: .2ex;

      &:hover {
        border-left-color: #999;
      }

  }



  .icon-arrow-left {
      display: inline-block;
      content: " ";
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: .75ex .75ex .75ex 0;
      border-right-color: #ccc;

      margin-right: .2ex;


      &:hover {
        border-right-color: #999;
      }

  }

 .icon-arrow-down {
      display: inline-block;
      content: " ";
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: .75ex .75ex 0 .75ex ;
      border-top-color: #ccc;

      margin-left: .2ex;


      &:hover {
        border-top-color: #999;
      }

  }


 .active-node {
   font-weight: bold;
 }


}