<nav class="tree-navigator">
    <header>
        <span class="dropdown scope-selector" on-toggle="toggled(open)" ng-if="!scopeSelector.hidden">
            <a href class="dropdown-toggle">
                Project
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="choice in config.scopeSelector.items">
                    <a href="#">{{ choice.label }}</a>
                </li>
            </ul>
        </span>
    </header>


    <script type="text/ng-template" id="tree-navigator-node-template">
        <a class="node-label"
           data-ng-class="{ 'loading': node.isLoading }"
           data-ng-click="node.nodeClick(node)"
                >{{ node.label }}</a>

        <ul class="node-list"
            data-ng-if="node.children && node.children.length > 0">
            <li data-ng-repeat="parentNode in node.children"
                data-ng-include="'tree-navigator-node-template'"
                data-ng-init="node=parentNode"
                data-ng-class="{ 'expanded': parentNode.expanded }">
            </li>
        </ul>
    </script>

    <div class="tree-navigator-nodes">
        <a class="node-label"
           data-ng-click="node.nodeClick(node)"
           data-ng-if="show-root-label">{{ treeData.label }}</a>
        <ul class="node-list"
            data-ng-if="treeData.children && treeData.children.length > 0">

            <li data-ng-repeat="node in treeData.children"
                data-ng-include="'tree-navigator-node-template'"
                data-ng-class="{ 'expanded': node.expanded  }">
            </li>

        </ul>

    </div>

</nav>